{{!
    @template qtype_matrix/question

    Template for displayed matrix questions.
    The example context has only one item and doesn't show feedback for brevity's sake.


    Example context (json):
    {
        "multiple": false,
        "isreadonly": true,
        "usedndui": false,
        "showfeedback": false,
        "expiredquestion": false,
        "errormessage": "",
        "questiontext": "The question text for the question",
        "answerheaders": [
            {
                "shorttext": "Short text of the first answer",
                "descriptionid": "colheader1",
                "description": "Longer description for the answer"
            },
            {
                "shorttext": "Short text of the second answer",
                "descriptionid": "colheader2",
                "description": "Longer description for the second answer"
            }
        ],
        "rows": [
            {
                "lastrow": false,
                "header": {
                    "shorttext": "Short text for the first row item",
                    "descriptionid": "rowheader1",
                    "description": "Longer description for the first row item"
                },
                "cells": [
                    {
                        "cellclass": "row0col0",
                        "formfieldname": "q88:1_r0",
                        "responseparamname": "q88:1_row0col0",
                        "rowindex": 0,
                        "colindex": 0,
                        "ischecked": true,
                        "arialabel": "Select possible answer Short text of the first answer for item Short text for the first row item",
                        "feedbackimage": "ICONHTML"
                    },
                    {
                        "cellclass": "row0col1",
                        "formfieldname": "q88:1_r0",
                        "responseparamname": "q88:1_row0col1",
                        "rowindex": 0,
                        "colindex": 1,
                        "ischecked": false,
                        "arialabel": "Select possible answer Short text of the second answer for item Short text for the first row item",
                        "feedbackimage": "ICONHTML"
                    }
                ],
                "feedback": "ICONHTML_AND_FEEDBACK"
            },
            {
                "lastrow": true,
                "header": {
                    "shorttext": "Short text for the second row item",
                    "descriptionid": "rowheader2",
                    "description": "Longer description for the second row item"
                },
                "cells": [
                    {
                        "cellclass": "row1col0",
                        "formfieldname": "q88:1_r1",
                        "responseparamname": "q88:1_row1col0",
                        "rowindex": 1,
                        "colindex": 0,
                        "ischecked": true,
                        "arialabel": "Select possible answer Short text of the first answer for item Short text for the second row item",
                        "feedbackimage": "ICONHTML"
                    },
                    {
                        "cellclass": "row1col1",
                        "formfieldname": "q88:1_r1",
                        "responseparamname": "q88:1_row1col1",
                        "rowindex": 1,
                        "colindex": 1,
                        "ischecked": false,
                        "arialabel": "Select possible answer Short text of the second answer for item Short text for the second row item",
                        "feedbackimage": "ICONHTML"
                    }
                ],
                "feedback": "ICONHTML_AND_FEEDBACK"
            }
        ]
    }
}}

{{#expiredquestion}}
Expired question: This can happen in preview mode.
{{/expiredquestion}}
<noscript>This question type does not work without Javascript.</noscript>
{{^expiredquestion}}
<div class="question_text">{{{ questiontext }}}</div>
<table id="{{ uniqid }}" class="matrix{{#usedndui}} uses_dndui{{/usedndui}}">
    <thead>
        <tr>
            <td></td>
{{#answerheaders}}
            <th scope="col">
                <span class="title"{{#description}} aria-details="{{ descriptionid }}"{{/description}}>{{{ shorttext }}}</span>
{{#description}}
                <span id="{{ descriptionid }}" class="description">{{{ description }}}</span>
{{/description}}
            </th>
{{/answerheaders}}
{{#showfeedback}}
            <td></td>
{{/showfeedback}}
        </tr>
    </thead>
    <tbody>
{{#rows}}
    <tr{{#lastrow}} class="lastrow"{{/lastrow}}>
{{#header}}
        <th scope="row">
            <span class="title"{{#description}} aria-details="{{ descriptionid }}"{{/description}}>{{{ shorttext }}}</span>
{{#description}}
            <span id="{{ descriptionid }}" class="description">{{{ description }}}</span>
{{/description}}
        </th>
{{/header}}
{{#cells}}
        <td class="cell {{ cellclass }}">
{{#multiple}}
            <input type="checkbox" name="{{ responseparamname }}" value="1"{{#isreadonly}} disabled="disabled"{{/isreadonly}}{{#ischecked}} checked="checked"{{/ischecked}} aria-label="{{{ arialabel }}}">
{{/multiple}}
{{^multiple}}
            <input type="radio" name="{{ formfieldname }}" value="{{ colindex }}"{{#isreadonly}} disabled="disabled"{{/isreadonly}}{{#ischecked}} checked="checked"{{/ischecked}} aria-label="{{{ arialabel }}}">
            <input hidden type="checkbox" id="{{ uniqid }}_{{ cellclass }}" name="{{ responseparamname }}" value="1"{{#ischecked}} checked="checked"{{/ischecked}} aria-hidden="true">
            <label hidden for="{{ uniqid }}_{{ cellclass }}">{{ cellclass }}</label>
{{/multiple}}
{{#showfeedback}}
            {{{ feedbackimage }}}
{{/showfeedback}}
        </td>
{{/cells}}
{{#showfeedback}}
        <td class="feedbackcell">{{{ feedback }}}</td>
{{/showfeedback}}
    </tr>
{{/rows}}
    </tbody>
</table>
{{#errormessage}}
<div class="validationerror">{{ errormessage }}</div>
{{/errormessage}}
{{#usedndui}}
{{#js}}
    require(['qtype_matrix/dnd'], function(dndmodule) {
        dndmodule.init('{{ uniqid }}');
    });
{{/js}}
{{/usedndui}}
{{^multiple}}
{{#js}}
    require(['qtype_matrix/singleradiosync'], function(sync) {
        sync.init('{{ uniqid }}');
    });
{{/js}}
{{/multiple}}
{{/expiredquestion}}
